.title{
    text-align: center;
    font-size: 50px;
    background-color:aquamarine;
  }

  .menu{
    width:100%;
    height:50px;
  }

  .menu ul li{
    float: left;
    width: 25%;
    height: 50px;
    line-height:50px;
    font-size: 20px;
    font-weight: bold;
    background-color:aliceblue;
  }

  .menu ul li a{
    display:block;
  }

  .menu ul li a:hover{
    background-color:slateblue;
    color: white;
  }
  
  .each{
    width:100vw;
    height: 10vw;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .each li a{
    font-weight: bold;
    font-size: 30px;
    text-decoration: none;
    margin-right: 100px;
    margin-left: 100px;
    position: relative;
  }
  
  .each li a::before{
    content: "";
    height: 5px;
    width: 0;
    background-color: red;
    border-radius: 10px;
    transition: 0.3s;
    position: absolute;
    bottom: 0;
    left: 0;
  }
  
  .each li a:hover::before{
    width: 100px;
    background-color: pink;
  }
  
  .date{
    text-align:center;
  }
  
  .date1{
    position: relative;
    left: 220px;
    top: -30px;
  }
  
  .date2{
    position: relative;
    left: 200px;
    top: -60px;
  }

  .text1{
    width: 250px;
    height: 40px;
    border-radius: 10px 0 10px 0;
    border-color:red;
    font-size: 20px;
    font-weight: normal;
  }
  
  .download{
    text-align: center;
  }
  
  .clicked {
    color: red;
  }