<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <link rel="stylesheet" type="text/css" href="../CSS/문진표3.css">
    </head>
    <body>
        <div class="menu">
            <ul>
                <li><a th:href="'/reservation/'+${screenClinicIdx}">예약하기</a></li>
                <li><a href="#">알림, 정보</a></li>
                <li><a href="#">혼잡도</a></li>
                <li><a href="#">마이페이지</a></li>
            </ul>
        </div>
        <div class="title">o o o 보건소</div>
        <hr>
        <br>
        <br>
        <div class="each">
            <li><a th:href="'/questionnaire/'+${screenClinicIdx}">일자별</a></li>
            <li><a th:href="'/questionnaire2/'+${screenClinicIdx}">예약자별</a></li>
        </div>
        <br>
        <br>
        <br>
        <br>
        <div class=date>
            <h2>정보 검색</h2><br><br>
        </div>
        
        <div class="date1">
            <h3>이름&nbsp;&nbsp;&nbsp;&nbsp;<input class="text1" type="text" value="이름을 입력하세요" onclick="this.value=''; return true"></h3>
            
        </div>
        <br>
        <br>
        <div class="date2">
            <h3>전화번호&nbsp;&nbsp;&nbsp;<input class="text1" type="text" value="생년월일" onclick="this.value=''; return true"></h3>
        </div>

        <div class="rev">
            <button style = "float: right; background-color: #34C9C9; color: white; font-size: 1.2em; padding: 8px 20px 5px 15px;">
                검색하기
            </button>
        </div>
        <br>
        <br>
        <br>
        <br>
        <div class="download">
        <a href="#"><h2>문진표 다운로드</h2></a>
        <hr>
        </div>
    </body>
</html>