<!doctype html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" type="text/css" href="문진표1.css">
        
    </head>
    <body>
        <div class="menu">
            <ul>
                <li><a href="#">예약하기</a></li>
                <li><a href="#">알림, 정보</a></li>
                <li><a href="#">혼잡도</a></li>
                <li><a href="#">마이페이지</a></li>
            </ul>
        </div>
        <div class="title">
            000보건소
        </div>
        <hr>
        
            <h2>예약 정보 조회</h2> 
            <h2>14 : 00 ~ 14 : 30</h2>
  
            <div class="div1">
                <div class="div4">예약자</div>
                <div class="div4">상태</div>
            </div>
            <br>
            <br>
            <div class="div2">
                <div class="div5">김 o o</div>
                <div class="div5">미완료</div>
                <div class="div6">완료</div>
            </div>
            <div class="div3">
                <div class="div5">이 o o</div>
                <div class="div5">미완료</div>
                <div class="div6">완료</div>
            </div>
            
            <div class="butt">
                <a href="#"><button class="btn-1">예약 추가</button></a>
                <a href="#"><button class="btn-2">시간 문진표 다운로드</button></a>
            </div>
    </div>
        <br>
        <br>
        <hr>

        <h2>현재 정보</h2><br><br>
        <h2>현재 예약 인원 : 5/10</h2>
        <div class="rev">
            <button style = "float: right; background-color: #34C9C9; color: white; font-size: 1.2em; padding: 8px 20px 5px 15px;">
                예약하기
            </button>
        </div>
    </body>
</html>