<!doctype html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="예약하기.css">
    </head>
    <body>
        <div class="menu">
            <ul>
                <li><a href="#">예약하기</a></li>
                <li><a href="#">알림, 정보</a></li>
                <li><a href="#">혼잡도</a></li>
                <li><a href="#">마이페이지</a></li>
            </ul>
        </div>
        <div class="total">
            0 0 0보건소
        </div>
        
        <hr>
        
            <h1>위치</h1><br>

        <div class=location>
            <h4>00도 00시 00구 00로 00</h4>
            <h4>000보건소 1층</h4><br>
        </div>

        <div>
            <h2>운영시간</h2>
            평일 : 9 : 00 ~ 18 : 00<br>
            토요일 : 9 : 00 ~ 13 : 00<br>
            일요일 : 미운영<br>
            공휴일 : 11 : 00 ~ 16 : 00<br><br>
        </div>
        <hr>
        <div>
            <h2>현재 정보</h2>
            <div class="con">혼잡도 : 붐빔</div><br>
            예상 대기 시간 : 1시간<br>
            현재 대기 인원 : 20명<br>
        </div>
        <div class="rev">
            <button style = "float: right; background-color: #34C9C9; color: white; font-size: 1.2em; padding: 8px 20px 5px 15px;">
                예약하기
            </button>
        </div>
    </body>
</html>